/target/
**/.classpath
**/.pmd
/.pmdruleset.xml
**/.project
**/.settings/
**/test-output/
**/.eclipse*
/bin/
**/.fbExcludeFilterFile
/scripts/
/findbugs-exclude.xml
/pmd-rules.xml
*.factorypath
*.db
common-services-boot/uat-swagger-common.json
common-services-boot/swagger-common.json
/.metadata/
